@import './assets/stylesheets/variables.css'; 
@import './assets/stylesheets/utilities.css'; 

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}

.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

p {
  color: var(--gray-text)
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
