.MyTables .content {
  background-color: #f6f6f6;
  margin-left: 300px;
  min-height: 100vh;
}

.TableCard .card-img-top {
  background-color: #f9f9f9;
}

.TableCard img{
  width: 100%;
  padding: 1.75rem;
}

.TableCard {
  cursor: pointer;
}

.TableCard .table-card-quote .state-message-free, 
.TableCard .table-card-quote .state-message-occupied, 
.TableCard .table-card-quote .diners-message {
  font-weight: 700;
  margin-left: 0.25rem;
}

.TableCard .table-card-quote .state-message-free {
  color: var(--active);
}

.TableCard .table-card-quote .state-message-occupied {
  color: var(--red-color);
}

.TableCard .table-card-quote {
  font-size: 0.9rem;
}

.TableCard .table-name {
  position: absolute;
  top: 20px;
  color: #c5c5c5;
  font-size: 1rem;
  font-weight: 600;
}