.RegisterForm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 4rem 3rem 4rem;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 5px;
}

.ErrorMessage {
  margin-bottom: -1rem;
} 

.StepOneTitle {
  color: var(--dark-gray);
}

.StepOneTitle span {
  color: var(--light-red);
  font-weight: 600;
}

.StepOneDescription {
  color: var(--light-gray);
}

.RegisterForm form .row .col label {
  color: gray;
}

.RegisterForm form .row .col input {
  border-radius: 0rem;
  background: none !important;
  border: none;
  border: 1px solid var(--super-light-gray);
}

.RegisterForm form .row .col input::placeholder {
  font-size: 1rem;
  color: var(--light-gray);
  font-size: 0.85rem;
}

.RegisterForm form .Buttons-container {
  text-align: center;
  margin-top: 1rem;
}


.RegisterForm .logo-container {
  text-align: center;
  margin-bottom: 2rem;
}

.RegisterForm .logo-container img {
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 100px;
}

.RegisterForm .text-danger {
  font-size: 0.85rem !important;
}