.c-red {
  color: var(--light-red)
}

.bg-red {
  background-color: var(--light-red) !important;
}

.border-red {
  border: 1px solid var(--light-red) !important;
}

.c-dark-gray {
  color: var(--dark-gray)
}

.c-gray {
  color: var(--gray)
}

.c-white {
  color: white !important;
}

.text-small {
  font-size: 0.8rem;
}


input.form-control, select {
  border-radius: 0rem;
  background: none !important;
  border-radius: none !important;
  border: 1px solid var(--super-light-gray);
}
