:root {
  --gray: #4c4c53;
  --gray-text: #666666;
  --dark-color: #0a1925;  
  --red-color: #eb495d;
  --dark-gray: #4a4a4a;
  --light-red: #f58d8d;
  --light-gray: #b4b4b4;
  --light-gray-2: #dddddd;
  --super-light-gray: #ececec;
  --light-green: #63cc98;
  --active: #11e682;
  --cancel: #F65555;
  --orange: rgb(248, 171, 70);
}